{% extends "../../base.html" %}

{% block title %} Gestion de Administractivos{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Registro Administractivos</h2>
        <div class="card">
            <div class="card-body">
                    <form action="/editaradm/" method="POST" enctype="multipart/form-data">  {% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="txtid" name="txtid" class="form-control" placeholder="Id" value="{{adm.id}}" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtnomadm" name="txtnomadm" class="form-control" placeholder="Nombre" value="{{adm.nomadm}}" minlength="1" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtapeadm" name="txtapeadm" class="form-control" placeholder="Apellido" value="{{adm.apeadm}}" minlength="1" maxlength="30" required>
                        </div> 
                        <div class="form-group">
                            <input type="text" id="txtdniadm" name="txtdniadm" class="form-control" placeholder="DNI" value="{{adm.dniadm}}"     required>
                        </div> 
                        <div class="form-group">
                            <input type="text" id="txtdiradm" name="txtdiradm" class="form-control" placeholder="Direccion" value="{{adm.direccionadm}}" required>
                        </div> 
                        <div class="form-group">
                            <input type="text" id="txtemailadm" name="txtemailadm" class="form-control" placeholder="Email" value="{{adm.emailadm}}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtestadm" name="txtestadm" class="form-control" placeholder="Estado" value="{{adm.estadm}}" required>
                        </div> 
                        
                       

                      <div class="form-group">
                        <label>Distrito</label>
                        <select class="form-control" name="txtdis" id="txtdis">
                            {% for t in distrito %}
                            <option value="{{t.id}}" id="cod">{{t.nomdis}}</option>
                            {%endfor%}
                        </select>

                        <div class="form-group">
                            <label>Usuario</label>
                            <select class="form-control" name="txtusu" id="txtusu">
                                {% for t in usuario %}
                                <option value="{{t.id}}" id="cod">{{t.nomusu}}</option>
                                {%endfor%}
                            </select>
                      </div>
                  </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>
                       
                    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

