{% extends "base.html" %}

{% block title %} Gestion de Distrito {% endblock %}

{% block body %}

{% load static %}

<div class="row  ml-4">
    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Gestion Notas</h5>
            <p class="card-text">Actualice aqui los datos de los usuarios</p>
        </div>
        
        <div class="card-body">
            <a href="/indnot/" class="card-link">Ir</a>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Tareas</h5>
            <p class="card-text">Actualice aqui los datos de los usuarios</p>
        </div>
        
        <div class="card-body">
            <a href="/menutar/" class="card-link">Ir</a>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Asistencia</h5>
            <p class="card-text">Actualice aqui los datos de los usuarios</p>
        </div>
        
        <div class="card-body">
            <a href="/menuasistencia/" class="card-link">Ir</a>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Reg Notas</h5>
            <p class="card-text">Actualice aqui los datos de los usuarios</p>
        </div>
        
        <div class="card-body">
            <a href="/indnts/" class="card-link">Ir</a>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Revisar Tareas</h5>
            <p class="card-text">Actualice aqui los datos de los usuarios</p>
        </div>
        
        <div class="card-body">
            <a href="/menunotatarea/" class="card-link">Ir</a>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Listadado de asistencia</h5>
            <p class="card-text">Actualice aqui los datos de los usuarios</p>
        </div>
        
        <div class="card-body">
            <a href="/indlisasisprof/" class="card-link">Ir</a>
        </div>
    </div>  
    
    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Listadado de Notas de Tareas</h5>
            <p class="card-text">Actualice aqui los datos de los usuarios</p>
        </div>
        
        <div class="card-body">
            <a href="/indlisanotasprof/" class="card-link">Ir</a>
        </div>
    </div>  
    
    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Listadado general de notas</h5>
            <p class="card-text">Actualice aqui los datos de los usuarios</p>
        </div>
        
        <div class="card-body">
            <a href="/indlisgennot/" class="card-link">Ir</a>
        </div>
    </div> 

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Listadado de notas de Sesiones</h5>
            <p class="card-text">Actualice aqui los datos de los usuarios</p>
        </div>
        
        <div class="card-body">
            <a href="/indlisnotses/" class="card-link">Ir</a>
        </div>
    </div> 


</div>
{% endblock %}