{% extends "basepro.html" %}

{% block title %} Publicar tareas{% endblock %}

{% block body %}

{% load static %}

<div class="row  ml-4">
    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Tarea 1</h5>
            <p>Publique aqui tareas correspondientes a la Sesion 1</p>
        </div>
        

        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indtar1/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Tarea 2</h5>
            <p>Publique aqui tareas correspondientes a la Sesion 2</p>
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indtar2/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Tarea 3</h5>
            <p>Publique aqui tareas correspondientes a la Sesion 3</p>
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indtar3/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Tarea 4</h5>
            <p>Publique aqui tareas correspondientes a la Sesion 4</p>
        </div>
        
            <div class="card-body">
                <div class="d-grid gap-2">
                        <a href="/indtar4/" class="btn btn-success">Ir</a>
                </div>
            </div>
        
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Tarea 5</h5>
            <p>Publique aqui tareas correspondientes a la Sesion 5</p>
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indtar5/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}