{% extends "basepro.html" %}

{% block title %} Menu revicion de tareas{% endblock %}

{% block body %}

{% load static %}

<div class="row  ml-4">
    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Tarea 1</h5>
            <p>Registe aqui la nota correspondiente a la tarea 1</p>
            
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indntt1/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Tarea 2</h5>
            <p>Registe aqui la nota correspondiente a la tarea 2</p>
            
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indntt2/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Tarea 3</h5>
            <p>Registe aqui la nota correspondiente a la tarea 3</p>
            
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indntt3/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Tarea 4</h5>
            <p>Registe aqui la nota correspondiente a la tarea 4</p>
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indntt4/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Tarea 5</h5>
            <p>Registe aqui la nota correspondiente a la tarea 5</p>
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indntt5/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}