{% extends "basepro.html" %}

{% block title %} Menu de asistencia {% endblock %}

{% block body %}

{% load static %}

<div class="row  ml-4">
    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
        </div>
        <h5 class="card-title">Ver listado de asistencia de alumnos</h5>
        <p>Vea aqui un listado de las asistencias de alumnos</p>
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indlisasisprof/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Hacer registro de asistencia</h5>
            <p class="card-text">Actualice aqui los estados de asistencia de un alumno con Presente, Falta o Justificado</p>
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/menuasistencia/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>


    
</div>
{% endblock %}