{% extends "basepro.html" %}

{% block title %} Gestion de Asistencia {% endblock %}

{% block body %}

{% load static %}

<div class="row  ml-4">
    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Sesion 1</h5>
            <p class="card-text">Actualice aqui la asistencia de la session 1</p>
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indasis1/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Sesion 2</h5>
            <p class="card-text">Actualice aqui la asistencia de la session 2</p>
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indasis2/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Sesion 3</h5>
            <p class="card-text">Actualice aqui la asistencia de la session 3</p>
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indasis3/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Sesion 4</h5>
            <p class="card-text">Actualice aqui la asistencia de la session 4</p>
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indasis4/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    <div class="card mx-4 my-4 " style="width: 18rem;">
        <img src="{% static 'img/usuario2.jpg' %}" class="card-img-top" alt="..."  height="300px">
        <div class="card-body">
            <h5 class="card-title">Sesion 5</h5>
            <p class="card-text">Actualice aqui la asistencia de la session 5</p>
        </div>
        
        <div class="card-body">
            <div class="d-grid gap-2">
                    <a href="/indasis5/" class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

    
</div>
{% endblock %}